[Unit]
Description=ddns-ip-upper
After=syslog.target network-online.target nss-lookup.target multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/dipper/bin
ExecStart=/usr/local/dipper/bin/dipper.sh

[Install]
WantedBy=multi-user.target