[Unit]
Description=ddns-ip-upper
After=network-online.target network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/dipper/bin
ExecStart=/usr/local/dipper/bin/dipper.sh

[Install]
WantedBy=multi-user.target