[Unit]
Description=ddns-ip-upper
After=nss-lookup.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/usr/local/dipper/bin
ExecStart=/usr/local/dipper/bin/dipper.sh

[Install]
WantedBy=network-online.target